<meta property="og:title" content="Letterboxrs - 2026 Oscar Ratings" />
<meta property="og:description" content="Aggregate Letterboxd movie ratings for the 2026 Oscars." />
<meta property="og:url" content="https://bcunnane.github.io/letterboxrs/" />
<meta property="og:type" content="website" />
<!-- Optional: Add a direct image URL to a poster or banner for the preview thumbnail -->
<!--meta property="og:image" content="https://a.ltrbxd.com/resized/film-poster/521/521-parasite-0-1000-0-1500-crop.jpg" />